################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs
/bin/Debug/net10.0-windows/win-x64
/Properties/PublishProfiles
/Properties/PublishProfiles
/Properties/PublishProfiles
*.user
/Properties/PublishProfiles/FolderProfile.pubxml
/bin/Release/net10.0-windows/win-x64
/.gitignore
/PatchVietHoaInstaller.Avalonia/obj/Debug/net10.0
/PatchVietHoaInstaller.Avalonia/obj/Release/net10.0
/PatchVietHoaInstaller.Avalonia/bin
/PatchVietHoaInstaller.Avalonia/obj
